@media (max-width: 450px) {
  /* line 11, ../../sass/partials/_ui.scss */
  .desktop {
    display: none;
  }
}
@media (min-width: 450px) {
  /* line 17, ../../sass/partials/_ui.scss */
  .mobile {
    display: none;
  }
}
/* line 22, ../../sass/partials/_ui.scss */
a {
  text-decoration: none;
  color: #b88f2f;
}

/* line 27, ../../sass/partials/_ui.scss */
button {
  padding: 8px;
  background: #b88f2f;
  color: white;
}

/* line 33, ../../sass/partials/_ui.scss */
input,
textarea {
  background: #000000;
}

/* line 5, ../../sass/components/services.scss */
.services .service-list {
  list-style: none;
  margin-left: 0;
}
/* line 9, ../../sass/components/services.scss */
.services .service-list > li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 0;
}
/* line 16, ../../sass/components/services.scss */
.services .service-list > li .description p {
  margin-bottom: 16px;
}
/* line 19, ../../sass/components/services.scss */
.services .service-list > li .description a {
  margin-left: 8px;
}
@media (max-width: 450px) {
  /* line 9, ../../sass/components/services.scss */
  .services .service-list > li {
    margin-bottom: 40px;
  }
  /* line 26, ../../sass/components/services.scss */
  .services .service-list > li .column {
    margin-bottom: 32px;
  }
  /* line 29, ../../sass/components/services.scss */
  .services .service-list > li .column.links {
    flex: 1 0;
  }
}
@media (min-width: 450px) {
  /* line 9, ../../sass/components/services.scss */
  .services .service-list > li {
    flex-direction: row;
    margin-bottom: 96px;
  }
  /* line 39, ../../sass/components/services.scss */
  .services .service-list > li .column:first-child {
    margin-right: 8px;
  }
  /* line 42, ../../sass/components/services.scss */
  .services .service-list > li .column:last-child {
    margin-left: 8px;
  }
  /* line 46, ../../sass/components/services.scss */
  .services .service-list > li .column.links {
    flex-basis: 25%;
    min-width: 200px;
  }
}
/* line 54, ../../sass/components/services.scss */
.services .service-list .service-links {
  list-style: none;
}
/* line 56, ../../sass/components/services.scss */
.services .service-list .service-links li {
  margin-bottom: 24px;
}
